body {
	background-color: #eee;
	font-family: 'Lato', sans-serif;
}


.header {
	width: 100%;
	margin-top: -15px;
	height: 60px;
	background-color: black;
	margin-left: -15px;
	padding-left: 30px;
	color: white;
	background-color: black;
	display: inline-block;
	position: static;
}

.topnav {
	width: 100%;
	background-color: #555;
	overflow: auto;
}

	.topnav a {
		float: left;
		padding: 12px;
		color: white;
		text-decoration: none;
		font-size: 17px;
		width: 18%;
		text-align: center;
		top: 50px;
	}

		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		.topnav a.active {
			background-color: #4CAF50;
			color: white;
		}

@media screen and (max-width: 500px) {
	.topnav a {
		float: none;
		display: block;
		width: 100%;
		text-align: left; /* If you want the text to be left-aligned on small screens */
	}
}

h2 {
	color: darkred;
	padding: 20px;
	background: url('../img/Tampa.jpg') no-repeat center;
	background-size: cover;
	height: 500px;
	position: relative;
	border: 10px;
	padding: 35px;
}

p {
	font-size: 20px;
	padding: 15px 15px 2500px;
}
